{% load cache %}

{% cache 1 header %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
 {% load static %}
 {% load pwa %}
<head>
{% progressive_web_app_meta %}
	<meta charset="utf-8">
    <meta name="theme-color" content="#ffffff">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Site for legal research." >
    <title>
        {% block titel %}{% endblock %}
    </title>


	<link href="{%  static "/css/utils.css" %}" rel="stylesheet">

</head>

<body ><!--bgcolor="#dfdfdf">
<!--<header>-->
<table   width="100%"  style="height: 100%;"><!--bgcolor="#dfdfdf"-->
<tr align="center" style="height: 10%;"><td style="height: 5%;">
    <table width="90%"  style="height: 100%;" ><!--bgcolor="#fdf9b0"-->
            <tr valign="middle" align="center" >
                <td width="15%" style="font-size: 150%">
                    JUDYST
                </td>
                <td width="75%" ></td>
                <td width="5%">
                    <div class="parent" >
                        <div class="child">
                        <a href="/">Search</a>
                            </div>
                    </div>
                </td>
                <td width="5%" >
                    <div class="parent">
                        <div class="child">
                        <a href="/update">Update</a>
                        </div>
                    </div>
                </td>
            </tr>
    </table>
</td></tr>
<tr align="center" style="height: 100%;"><td style="height: 100%;">
    <table width="100%" style="height: 100%;"> <!--bgcolor="#dfdfdf"-->
            <tr valign="top" align="center">
                <td width="=10%" height="5%"><!--bgcolor="#dfdfdf"--></td>
               <!--bgcolor="#FFFEF4"-->
                    {% block content %}
                    {% endblock %}

                <td width="=10%" height="100%" ></td><!--bgcolor="#dfdfdf"-->
            </tr>
    </table>
</td></tr>
<tr align="center" style="height: 5%;"><td width="100%" style="height: 5%;">
    <table width="90%" style="height: 5%;" ><!--bgcolor="#fdf9b0"-->
            <tr valign="bottom" align="right" >
                <td width="100%">
                    <p>© 2018 - 2018<br><a href="https://vk.com/mrsbarsuk">DreamTeam</a> All rights reserved.</p>
                </td>
            </tr>
    </table>
</td></tr>

</table>





</body>
</html>
{% endcache %}