
{% extends 'analitics/base.html' %}
{% block content %}
<!--<main>-->
<div id="upload-form">
	<div class="container ">
	   <div class="row top-buffer-first">
	      <div class="col-md-6 col-md-offset-2">
             <!-- Upload form. Note enctype attribute! -->
              <form action="{% url 'index' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>{{ form.non_field_errors }}</p>
                <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
                <p>
                    {{ form.docfile.errors }}
                    <div class="file_upload">
                        <button type="button">Выбрать</button>
                        <div>Файл не выбран</div>
                        {{ form.docfile }}
                    </div>

                </p>
                <p><input type="submit" name="upload" value="Upload" class="btn btn-info"/></p>
            </form>
	      </div>
	   </div>
	</div>
</div>

<div id="list-of-docs">
	<div class="container ">
	   <div class="row top-buffer-first bottom-buffer-first">
	      <div class="col-md-6 col-md-offset-2 ">
	          <!-- List of uploaded documents -->
                {% if documents %}
                    {% for document in documents %}
                            <div class="container ">
                                <div class="row top-buffer-second row-flex">
                                    <div class="col-md-1 col-sm-2 ">
                                        <form method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <input type="hidden" name="file" value="{{ document.docfile.url }}">
                                            <input type="submit" name="analise" value="Analise" class="btn btn-info">
                                        </form>
                                    </div>

                                    <div class="col-md-6 col-sm-8 overflow-div-scroll">
                                        <a href="{{ document.docfile.url }}" >
                                            {{ document.name }}</a>
                                    </div>

                                </div>
                            </div>
                    {% endfor %}
                {% else %}
                    <p>No documents.</p>
                {% endif %}
	      </div>
	   </div>
	</div>
</div>
{% endblock %}
