
{% extends 'analitics/base.html' %}
{% block content %}
<!--<main>-->
<div id="upload-form">
	<div class="container ">
	   <div class="row top-buffer-first">
	      <div class="col-md-6 col-md-offset-2">
             <!-- Upload form. Note enctype attribute! -->
              <form action="{% url 'index' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                  <p>
                      {% if error != '' %}
                          <div class="error-div">
                          {{ error }}
                          </div>
                      {% endif %}
                  </p>
                <p>{{ form.non_field_errors }}</p>
                <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
                <p>
                    {{ form.docfile.errors }}
                    <div class="file_upload">
                        <button type="button">Выбрать</button>
                        <div>Файл не выбран</div>
                        {{ form.docfile }}
                    </div>

                </p>
                <p><input type="submit" value="Upload" class="btn btn-info"/></p>
            </form>
	      </div>
	   </div>
	</div>
</div>

<div id="list-of-docs">
	<div class="container ">
	   <div class="row top-buffer-first">
	      <div class="col-md-6 col-md-offset-2 overflow-div-scroll">
	          <!-- List of uploaded documents -->
                {% if documents %}
                    <ul>
                    {% for document in documents %}
                        <li><a href="{{ document.docfile.url }}">{{ document.name }}</a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>No documents.</p>
                {% endif %}
	      </div>
	   </div>
	</div>
</div>
{% endblock %}
