{% extends 'analitics/base.html' %}
{% block titel %}
   {{ name }}
{% endblock %}

{% block content %}
    <!--<main>-->
     <td width="80%" height="100%" align="left" valign="top">
     {% if text %}
        {% for line in text %}
            {% if line.color_start %}
                <span style="color:red;font-weight:bold">
            {% endif %}
            {% if line.word %}
                {{ line.word }}&nbsp;
            {% endif %}
            {% if line.color_end %}
                </span>
            {% endif %}
            {% if line.end %}
                <br>
            {% endif %}
         {% endfor %}
     {% endif %}
     </td>

{% endblock %}