
{% extends 'analitics/base.html' %}
{% block titel %}
   Обновления базы
{% endblock %}

{% block content %}
<!--<main>-->
    <br><br><br><br><br>
    <form action="/update" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ form.non_field_errors }}</p>
        <p class="norm_font"><label for="pass">Password:</label> <input type="password" name="pass" class="norm_font"> </p>

            {{ form.docfile.errors }}
            {{ form.docfile }}
        <input type="submit" name="upload" value="Upload" class="norm_font btn-big"/>
    </form>
    <br>
    <br>
    <br>
    <iframe width="50%" height="35%" src="https://www.youtube.com/embed/6G4Su9CYLig" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

{% endblock %}
