.parent {
    min-width: 70px;
    position: relative;
    /*background: #fdf26f;*/
    height: 35px;
}
.child {
    position: absolute;
    top: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 15%;
}
.norm_font{
    font-size: 100%;
}
.border{
    border: 1px #a8a8a8;
}
.input-big{
    width: 60%;
    padding: 8px 20px;
    margin: 8px 0;
}
.btn-big{
    padding: 6px 20px;
    margin: 8px 0;
}
  input[type="file"]{
        height:40px;
  }
    input[type="file"]::-webkit-file-upload-button{
        height:40px;
  }